<a href="https://colab.research.google.com/github/kumarUjjawal/deep_learning_fastai/blob/master/multi_label_classifiaction_fastai.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install -Uqq fastbook
import fastbook
fastbook.setup_book()

     |████████████████████████████████| 727kB 2.8MB/s
     |████████████████████████████████| 358kB 14.3MB/s
     |████████████████████████████████| 51kB 7.0MB/s
     |████████████████████████████████| 61kB 7.8MB/s
     |████████████████████████████████| 1.0MB 16.6MB/s
     |████████████████████████████████| 92kB 8.3MB/s
     |████████████████████████████████| 40kB 5.7MB/s
     |████████████████████████████████| 51kB 7.8MB/s
     |████████████████████████████████| 61kB 8.3MB/s
     |████████████████████████████████| 2.6MB 20.1MB/s
Mounted at /content/gdrive

In [2]:
from fastbook import *

In [4]:
from fastai import *

In [5]:
path = untar_data(URLs.PASCAL_2007)

In [6]:
import pandas as pd
df = pd.read_csv(path/'train.csv')

In [7]:
df.head()

        fname        labels  is_valid
0  000005.jpg         chair      True
1  000007.jpg           car      True
2  000009.jpg  horse person      True
3  000012.jpg           car     False
4  000016.jpg       bicycle      True

In [8]:
dblock = DataBlock()

In [9]:
dsets = dblock.datasets(df)

In [10]:
dsets.train[0]

(fname       008663.jpg
 labels      car person
 is_valid         False
 Name: 4346, dtype: object, fname       008663.jpg
 labels      car person
 is_valid         False
 Name: 4346, dtype: object)